* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
  }
  
  .header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Para ocupar toda a largura */
    background-color: #fff; /* Cor de fundo */
    z-index: 1000; /* Certifique-se de que o header fique acima de outros elementos */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona um efeito de sombra */
    padding: 1rem; /* Espaçamento interno */
  }
  
  .header-content {
    display: flex;
    justify-content: space-around;
  }
  
  .header-content a {
    text-decoration: none;
    color: #50524f;
    padding-right: 20px;
  }
  
  .icons-header {
    padding-right: 10px;
    color: rgb(10, 182, 70);
  }
  
  .header-container a:hover {
    color: #9d9f9c;
  }
  
  .logo {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
  }
  
  /* Default Styles: Show hamburger on large screens */
  .hamburger {
    display: block; /* Show hamburger icon on large screens */
    position: fixed;
    top: 100px;
    right: 260px;
    width: 46px;
    height: 46px;
    background: #a3dd1b;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }
  
  .hamburger svg {
    font-size: 23px;
  }
  
  .hamburger:hover {
    color: #9d9f9c;
  }
  
  /* Default Dropdown Menu */
  .menu {
    display: none;
    position: absolute;
    top: 165px; /* Adjust to appear below the button */
    right: 290px;
    background: linear-gradient(to bottom, #c6f656, #66e843);
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
    opacity: 80%;
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu ul li {
    margin: 10px 0;
  }
  
  .menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
  }
  
  /* Show dropdown menu when active */
  .menu.active {
    display: block;
  }
  
  /* For screens larger than 1024px: show hamburger icon */
  @media (min-width: 1025px) {
    .hamburger {
      display: block; /* Show hamburger icon */
    }
  
    .header-content {
      display: flex; /* Keep header content visible */
    }
  
    .menu {
      display: none; /* Ensure the dropdown is hidden */
    }
  }
  
  /* For smaller screens (<= 1024px): Hide the hamburger icon and dropdown */
  @media (max-width: 1024px) {
    .hamburger {
      display: none; /* Hide hamburger on small screens */
    }
  
    .menu {
      display: none; /* Hide dropdown menu on small screens */
    }
  
    .header-content {
      display: block; /* Normal header content on smaller screens */
    }
  }
  
  .photo img {
    width: 100%;
    height: auto;
  }
  
  .form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 14px;
    color: #b7afaf;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  select,
  textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  textarea {
    resize: vertical;
    height: 100px;
  }
  
  .button-form {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button-form:hover {
    background-color: #45a049;
  }
  