* {
  margin: 0;
  padding: 0;
  font-family: Verdana;
}

/* HEADER AND BACKGROUND PHOTO */
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  /* Certifique-se de que o header fique acima de outros elementos */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  height: 130px;
}

.header-content {
  display: flex;
  justify-content: space-around;
}

.header-content a {
  text-decoration: none;
  color: #50524f;
  padding-right: 20px;
}

.contact-info {
  display: flex;
}

.icons-header {
  padding-right: 10px;
  color: #4caf50;
}

.header-container a:hover {
  color: #9d9f9c;
}

.logo {
  width: 170px;
  height: 170px;
  margin-bottom: 15px;
  
  border-radius: 50%;
}


/*MENU*/
.navbar {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  background-color: transparent;
  padding: 10px 20px;
  z-index: 1000;
  margin-right: 10%;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: end;
  padding: 25px 15%;
}

.menu ul li {
  text-decoration: none;
  font-weight: lighter;
  color: #45a049;
  font-size: 22px;
  transition: color 0.3s;
  padding: 15px;
}

.menu ul li:hover {
  color: #fff;
  background-color: #45a049;
  border-radius: 5%;
}

/*MENU*/

/* For screens larger than 1024px: show hamburger icon */
@media (min-width: 1025px) {
  .hamburger {
    display: block;
    /* Show hamburger icon */
  }

  .header-content {
    display: flex;
    /* Keep header content visible */
  }
}

/* For smaller screens (<= 1024px): Hide the hamburger icon and dropdown */
@media (max-width: 1024px) {
  .menu {
    display: none;
    /* Hide hamburger on small screens */
  }

  .header-content {
    display: flex;
    justify-content: center;
    gap: 7%;
  }

  .contact-info {
    display: block;
    position: relative;
    font-size: 15px;
    margin-top: 10%;
  }

  .icons-header {
    align-items: center;
  }

  .logo {
    margin-left: 1%;
  }
}

.photo img {
  width: 100%;
  height: 600px;
  display: flex;
  margin-top: 130px;
}

/* HEADER AND BACKGROUND PHOTO */

/* PROFILE AND AVATAR*/
.profile-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 70px;
}

.profile-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.avatar-container {
  background-color: #4caf50;
  position: absolute;
  top: 75%;
  left: 25%;
  transform: translateX(-50%);
  z-index: 10;
  border-radius: 50%;
  padding: 10px;
}

.profile-name {
  margin-bottom: 40px;
}

.profile-card {
  margin-top: 40px;
  margin-left: 35%;
  align-items: baseline;
}

.profile-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.profile-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  list-style-type: none;
}

.profile-item::before {
  content: "\2714"; /* Unicode checkmark symbol */
  font-size: 24px; /* Set the size of the checkmark */
  color: rgb(10, 182, 70); /* Set the color of the checkmark */
  margin-right: 8px;
}

.profile-text {
  font-size: 16px;
  list-style-type: none;
}

@media (max-width: 480px) {
  .photo img {
    width: 100%;
    /* Full width for extra small screens */
    height: 19rem;
    background-size: cover;
  }
  .avatar-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente o conteúdo dentro */
    align-items: center; /* Centraliza verticalmente o conteúdo dentro */
    position: absolute; /* Permite o uso de top e left */
    top: 50%; /* Move para o centro vertical */
    left: 50%; /* Move para o centro horizontal */
    transform: translate(
      -50%,
      -50%
    ); /* Ajusta para centralizar perfeitamente */
  }
  .logo {
    margin-left: 50px;
  }
  
  .profile-avatar {
    width: 150px;
    /* Adjust size for smaller screens if necessary */
    height: 150px;
  }

  .profile-card {
    display: block;
    margin-top: 95px;
    margin-left: 5%;
  }

  .profile-card h1 {
    text-align: center;
  }

  .personal-data-container {
    grid-template-columns: 1fr !important;
  }

  .form-city,
  .form-textarea {
    width: 95% !important;
  }
}

@media (max-width: 414px) {
  .avatar-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente o conteúdo dentro */
    align-items: center; /* Centraliza verticalmente o conteúdo dentro */
    position: absolute; /* Permite o uso de top e left */
    top: 55%; /* Move para o centro vertical */
    left: 50%; /* Move para o centro horizontal */
    transform: translate(
      -50%,
      -50%
    ); /* Ajusta para centralizar perfeitamente */
  }

  .logo {
    margin-left: 2px;
  }
  
}
/* iPhone 8 Plus */
@media (max-width: 414px) and (min-height: 736px) {
  .avatar-container {
    top: 60% !important; /* Ajuste para o iPhone */
  }
}

/* Galaxy S20 */
@media (max-width: 414px) and (min-height: 800px) {
  .avatar-container {
    top: 55% !important; /* Mantém o ajuste do Galaxy */
  }
}



/* PROFILE AND AVATAR*/

/* CONTACT FORM */
.form-container {
  max-width: 800px;
  margin: 15px auto;
  padding: 20px;
  box-shadow: 0px -4px 6px rgba(179, 218, 140, 0.8),
    /* Top shadow */ 0px 4px 6px rgba(179, 218, 140, 0.8); /* Bottom shadow */
}

.form-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #45a049;
}

.form-subtitle {
  font-size: 14px;
  color: #b7afaf;
  margin-bottom: 30px;
}

.personal-data-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
}

.personal-data,
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-city {
  width: 97%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-textarea {
  width: 97%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
textarea {
  resize: vertical;
  height: 100px;
}

.button-form {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-form:hover {
  background-color: #45a049;
}

/* CONTACT FORM */

/*FOOTER*/

.footer {
  background-color: rgba(152, 191, 115, 0.8);
  padding: 20px;
  text-align: center;
  margin-top: 5px;
  font-family: Arial, sans-serif;
  font-size: 25px;
}

.footer-contact {
  margin-bottom: 15px;
}

.footer-contact .footer-link {
  color: #45a049;
  text-decoration: none;
  font-size: 25px;
}

.footer-contact .footer-link:hover {
  text-decoration: none;
}

.footer-link {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.footer-link a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.footer-link a:hover {
  color: #45a049;
  text-decoration: none;
}

.footer-contact a:hover {
  color: #fff;
  text-decoration: none;
}

/*FOOTER*/

/*DATEN*/

.daten-container {
  padding: 2% 8%;
  display: block;
  align-items: center;
}

.daten-h {
  font-size: 30px;
  color: #45a049;
}

.daten-section {
  padding: 15px;
}

.daten-htwo {
  font-size: 20px;
  color: #45a049;
}

.daten-p {
  font-size: 18px;
}

.daten-ul {
  text-decoration: none;
  list-style-type: none;
  font-size: 18px;
  color: #b7afaf;
}

/*DATEN*/

/*AGB*/
.agb-container {
  padding: 2% 8%;
  display: block;
  align-items: center;
}

.agb-title {
  font-size: 30px;
  color: #45a049;
}

.agb-section {
  padding: 15px;
}

.agb-subtitle {
  font-size: 20px;
  color: #45a049;
}
.agb-text {
  font-size: 18px;
}

/*AGB*/

/*IMPRESSUM*/

.impressum-container {
  padding: 2% 8%;
  display: block;
  align-items: center;
}

.impressum-title {
  font-size: 30px;
  color: #45a049;
}

.impressum-section {
  padding: 15px;
}

.impressum-subtitle {
  font-size: 20px;
  color: #45a049;
}

.impressum-text {
  font-size: 18px;
}

/*IMPRESSUM*/
